  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos</title>
    
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Cadastro de Agendamentos</h1>    
    <a href="/menu">Menu</a>
    <a href="/clientes">Clientes</a>
    <a href="/filiais">Filiais</a>
    <a href="/barbeiros">Barbeiros</a>
    <br>
    <br>
    <form th:action="@{/salvarAgendamento}" method="POST">
        <label>Data:</label>
        <input type="text" placeholder="Digite a data" name="data" required/>
        <label>Cliente:</label>
        <select th:field="${agendamento.cliente}" required>
            <option value="">Escolha o cliente</option>
            <option th:each="cliente : ${clientes}"
                        th:value="${cliente.id}"
                        th:text="${cliente.nome}">
            </option>
        </select>
        <label>Barbeiro:</label>
        <select th:field="${agendamento.barbeiro}" required>
            <option value="">Escolha o barbeiro</option>
            <option th:each="barbeiro : ${barbeiros}"
                        th:value="${barbeiro.id}"
                        th:text="${barbeiro.nome}">
            </option>
        </select>
        <label>Filial:</label>
        <select th:field="${agendamento.filial}" required>
            <option value="">Escolha a filial</option>
            <option th:each="filial : ${filiais}"
                        th:value="${filial.id}"
                        th:text="${filial.endereco}">
            </option>
        </select>
        <input type="submit" value="Salvar" />
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Código</th>
            <th>Cliente</th>
            <th>Barbeiro</th>
            <th>Data</th>
            <th>Filial</th>
            <th>Detalhes/Editar</th>
            <th>Cancelar/Concluir</th>
        </tr>
       
        <tr th:each="agendamento : ${agendamentos}">
            <td th:text="${agendamento.id}"></td>
            <td th:text="${agendamento.cliente}"></td>
            <td th:text="${agendamento.barbeiro}"></td>
            <td th:text="${agendamento.data}"></td>
            <td th:text="${agendamento.filial}"></td>
            <td> <a th:href="@{'/detalhesAgendamento/' + ${agendamento.id}}">Detalhes/Editar</a></td>
            <td> <a th:href="@{'/removerAgendamento?id=' + ${agendamento.id}}">Cancelar/Concluir</a></td>
        </tr>
    </table>
</body>

</html>